# IDE
.vscode/
.idea/

# Byte-compiled / optimized / DLL files
__pycache__/

# Unit test
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints
inverted.index
stop_words_en.txt
wikipedia_sample
task_9.avro
task_6.json
task_11.json
